SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", KERNELS=="1-1", ACTION=="add", ATTRS{idVendor}=="13fe", ATTRS{idProduct}=="3100", RUN+="/data/caf/bin/setupwireless"

